h1 {
    text-align: center;
    margin-top: 2vh;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttonRefresh {
    width: 10vw;
    height: 7vh;
    margin-top: 2vh;
}

.tableHdl {
    height: 65vh;
}

.w-5.h-5 {
    display: block;
    height: 3vh;
    width: 3vh;
}